bin/
# backup files
*~
*.swp
# test framework intermediate files
*.bin
*.dot
*.ref
*.s
*.err
*.class
*.png
a.out

# Object files
*.o
*.ko
*.obj
*.elf

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Latex
*.bbl
*.blg
*.aux
*.log
*.bak
*.ps
*.dvi
*.log
*.out
*.tm
